<!-- HTML FILE -->
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livechat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}"/>
</head>
<body>
    <nav class="navbar">
        <h1>Livechat</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}">Introduktion</a>
            <a href="{{ url_for('home') }}">Livechat</a>
            <a href="{{ url_for('om_oss') }}">Om oss</a>
        </div>
        <a href="{{ url_for('logout') }}" class="navbar-button">Logga ut</a>
    </nav>

    <section class="kropp-upp">
        <h1>Välkommen till vår plattform</h1>
        <p>Starta en livechat och få snabba svar. Diskutera direkt med experter.</p>
        <a href="{{ url_for('home') }}">Kom igång</a>
    </section>

    <section class="kropp-mitten">
        <h2>Erbjudande</h2>
        <p>Vår platform erbjuder kommunication med experter inom elektronik. Ställ dina frågor och få svar direkt. Perfekt för både nybörjare och proffs!</p>
    </section>

    <section class="kropp-nere">
      <h2>Kategorier</h2>
      <p>Du kan välja bland kategorier som bilar, mobiler och datorer. Där du kan ställa frågor och få svar från personer med expertkunskap.</p>
    </section>

    <footer>
        <p>&copy; 2025 Livechat</p>
    </footer>
</body>

</html>
