<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om oss</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}"/>
</head>
<body>
    <nav class="navbar">
        <h1>Livechat</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}">Introduktion</a>
            <a href="{{ url_for('home') }}">Livechat</a>
            <a href="{{ url_for('om_oss') }}">Om oss</a>
        </div>
        <a href="{{ url_for('logout') }}" class="navbar-button">Logga ut</a>
    </nav>
    
    <section class="kropp-mitten">
        <h2>Om Oss</h2>
        <p>Vi är ett team på två: Myar och Hamid. Vi studerar DataTeknik och Nätverksteknik vid Högskolan Väst i Trollhättan och delar en gemensam passion för teknik och digital kommunikation. Vår idé med den här hemsidan föddes ur en önskan att skapa en plats där människor enkelt kan ställa frågor och få svar direkt från kunniga experter inom olika ämnen. Vi tror att kunskapsutbyte och öppen dialog är nyckeln till både personlig utveckling och teknisk innovation. Genom att kombinera våra studier med våra egna erfarenheter vill vi erbjuda en pålitlig plattform där allt från teknikrelaterade frågor till vardagsproblem kan diskuteras i en interaktiv miljö. Vår vision är att inspirera och underlätta för alla att lära sig mer, oavsett om det handlar om bilar, mobiler, datorer eller andra intresseområden. Vi är stolta över att kunna bidra med vår kompetens och ser fram emot att tillsammans med dig skapa en levande community där varje fråga leder till nya insikter och möjligheter.</p>
    </section>

    <footer>
        <p>&copy; 2025 Livechat</p>
    </footer>
</body>


</html>
