{% extends 'base.html' %}
{% set hide_nav = true %}
{% block content %}

<div class = "Signup-kroppen">
    <div class="boxen">
        <h1>Registrera Dig</h1>
        <form method="POST">
            <div class="Registrering">
                <label for="email">E-postadress:</label>
                <input type="email" id="email" name="email" placeholder="Ange din e-postadress" required>
                <label for="password">Lösenord:</label>
                <input type="password" id="password" name="password" placeholder="Välj ett lösenord" required>
            </div>
            <button type="submit" class="register-button">Registrera</button>
        </form>
        <p>Har du redan ett konto? <a href="/">Logga in här</a>.</p>
    </div>
</div>

{% endblock %}